<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <span class="iconify" data-icon="jam:home" data-inline="false"></span>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <span class="iconify" data-icon="jam:search" data-inline="false"></span>
      <ion-label>Teste</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <span class="iconify" data-icon="jam:user-circle" data-inline="false"></span>
      <ion-label>Conta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
