<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button color="primary" icon="chevron-back-outline" defaultHref="/" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" class="ion-no-padding" mode="md">Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form #loginForm="ngForm" novalidate class="login_form">
    <!--Nome Completo-->
    <ion-label class="title">Nome completo*</ion-label>
    <ion-item lines="none">
      <ion-input [(ngModel)]="register.name" type="text" name="full_name" #full_name="ngModel" 
      spellcheck="false" autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <p [hidden]="full_name.valid || submitted == false"  class="validate_text">
        É necessário o nome
      </p>
    </ion-text>

    <!--Email-->
    <ion-label class="title">Email*</ion-label>
    <ion-item lines="none">
      <ion-input [(ngModel)]="register.email" type="email" name="email"
        #email="ngModel" spellcheck="false" autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <p [hidden]="email.valid || submitted == false"  class="validate_text">
        É necessário o email
      </p> 
    </ion-text>

    <!--Email-->
    <ion-label class="title">Endereço*</ion-label>
    <ion-item lines="none">
      <ion-input [(ngModel)]="register.address" type="text" name="address"
        #address="ngModel" spellcheck="false" autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <p [hidden]="address.valid || submitted == false"  class="validate_text">
        É necessário o endereço
      </p> 
    </ion-text>

    <!--Telefone-->
    <ion-label class="title">Numero de Telefone*</ion-label>
    <ion-item lines="none">
      <ion-input [(ngModel)]="register.phone" mask="(00) 00000-0000"  minlength="15" maxlength="15" type="tel" name="phone"
        #phone="ngModel" spellcheck="false" autocapitalize="off" required>
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p [hidden]="phone.valid || submitted == false"  class="validate_text">
        É necessário o telefone
      </p>
    </ion-text>

    <!--Senha-->
    <ion-label class="title">Senha*</ion-label>
    <ion-item lines="none">
      <ion-input [(ngModel)]="register.password" name="password"
        type="password" #password="ngModel" required>
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p [hidden]="password.valid || submitted == false"  class="validate_text">
        É necessário a senha
      </p>
    </ion-text>

    <ion-label class="title">Confirmar Senha*</ion-label>
    <ion-item lines="none">
      <ion-input [(ngModel)]="register.confirmPassword" name="cpassword"
        type="password" #cpassword="ngModel" required>
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p [hidden]="cpassword.valid || submitted == false"  class="validate_text">
        É necessário confirmar a senha
      </p>
    </ion-text>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-button mode="md" class="btn-confirm" (click)="onLogin(loginForm)" type="submit" expand="block" [disabled]="isLogin">
          <span *ngIf="!isLogin">Registrar</span>
          <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
  <p class="createAcc" (click)="login()">Já tenho uma conta.
    <span class="registerTag">Logar-se.</span>
  </p>
  <p class="mandatory" >*Campos obrigatórios
  </p>
</ion-content>