<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button color="primary" icon="chevron-back-outline" defaultHref="/" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="login-logo">
    <img src="assets/imgs/png/logo-principal.png" class="logo_icon" alt="foodies">
  </div>

  <form #loginForm="ngForm" novalidate class="login_form">
    <!--Nome Completo-->
    <ion-label class="title">{{'Full Name'}}*</ion-label>
    <ion-item lines="none">
      <ion-input [(ngModel)]="register.name" type="text" name="full_name" #full_name="ngModel" 
      spellcheck="false" autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <p [hidden]="full_name.valid || submitted == false"  class="validate_text">
        {{'Name is required' }}
      </p>
    </ion-text>

    <!--Email-->
    <ion-label class="title">{{'Email'}}*</ion-label>
    <ion-item lines="none">
      <ion-input [(ngModel)]="register.email" type="email" name="email"
        #email="ngModel" spellcheck="false" autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <p [hidden]="email.valid || submitted == false"  class="validate_text">
        {{'Email is required' }}
      </p>
    </ion-text>

    <!--Telefone-->
    <ion-label class="title">{{'Phone Number'}}*</ion-label>
    <ion-item lines="none">
      <ion-input [(ngModel)]="register.phone" mask="(00)00000-0000" type="tel" name="phone"
        #phone="ngModel" spellcheck="false" autocapitalize="off" required>
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p [hidden]="phone.valid || submitted == false"  class="validate_text">
        {{'Phone is required' }}
      </p>
    </ion-text>

    <!--Senha-->
    <ion-label class="title">{{'password'}}*</ion-label>
    <ion-item lines="none">
      <ion-input [(ngModel)]="register.password" name="password"
        type="password" #password="ngModel" required>
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p [hidden]="password.valid || submitted == false"  class="validate_text">
        {{'Password is required' }}
      </p>
    </ion-text>

    <ion-label class="title">{{'Confirm Password'}}*</ion-label>
    <ion-item lines="none">
      <ion-input [(ngModel)]="register.confirmPassword" name="cpassword"
        type="password" #cpassword="ngModel" required>
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p [hidden]="cpassword.valid || submitted == false"  class="validate_text">
        {{'Confirm Password is required' }}
      </p>
    </ion-text>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-button mode="md" class="btn-confirm" (click)="onLogin(loginForm)" type="submit" expand="block" [disabled]="isLogin">
          <span *ngIf="!isLogin"> {{'Sign up' }}</span>
          <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
  <p class="createAcc" (click)="back()">{{'Already have an account' }}
    <span class="registerTag">{{'Log In' }}.</span>
  </p>
  <p class="mandatory" >*Campos obrigatórios
  </p>
</ion-content>