<div *ngIf="Myimage" class="cropper-back">
  <div class="cropper_div">
    <image-cropper 
    [imageBase64]="Myimage"
    [maintainAspectRatio]="true"
    [aspectRatio]="3 / 3"
    [canvasRotation]="canvasRotation"
    [transform]="transform"
    format="png"
    (imageCropped)="imageCropped($event)"
    outputType="base64"
    class="cropper"

  ></image-cropper>
  </div>


  <ion-button (click)="clearCropper()" color="dark" fill="clear" class="btn-cancel-cropper">
    Cancelar
  </ion-button>
  <ion-button (click)="rotateRight()" color="dark" fill="clear" class="btn-rotate-cropper">
    <ion-icon name="refresh-circle-outline"></ion-icon>
  </ion-button>
  
  <ion-button (click)="confirmCropper()" color="dark" fill="clear" class="btn-confirm-cropper">
    Confirmar
  </ion-button>
</div>
<ion-header mode="ios" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" icon="chevron-back-outline" defaultHref="/" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" class="ion-no-padding" mode="md">Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content_div">
      <div class="container-img">
        <div class="perfil_img" (click)="cover()" [ngStyle]="{'background-image': book ? 'url('+book.cover+')' : '' }"></div>
        <ion-fab (click)="cover()" horizontal="start" slot="fixed">
          <ion-fab-button>
            <span class="iconify" data-icon="jam:pencil-f" data-inline="false"></span>
          </ion-fab-button>
        </ion-fab>
      </div>
      
      <div class="form_div">
        <ion-item class="item-input ion-no-padding">
          <ion-label mode="ios" position="stacked">Nome</ion-label>
          <ion-input type="text" [(ngModel)]="book.name"></ion-input>
        </ion-item>

        <ion-item class="item-input ion-no-padding">
          <ion-label mode="ios" position="stacked">Preço de venda</ion-label>
          <ion-input type="number" [(ngModel)]="book.sell"></ion-input>
        </ion-item>
      
        <ion-item class="item-input ion-no-padding">
          <ion-label mode="ios" position="stacked">Preço de compra</ion-label>
          <ion-input type="number" [(ngModel)]="book.buy"></ion-input>
        </ion-item>

        <ion-item class="item-input ion-no-padding">
          <ion-label mode="ios" position="stacked">Categoria</ion-label>
          <ion-select placeholder="Bandeira do cartão" interface="popover" [(ngModel)]="book.cid">
            <ion-select-option value="aaaaa">Terror</ion-select-option>
            <ion-select-option value="bbbbb">Ação</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="item-input ion-no-padding">
          <ion-label mode="ios" position="stacked">desc</ion-label>
          <ion-input type="text" [(ngModel)]="book.desc"></ion-input>
        </ion-item>

      </div>
      <ion-row class="ion-justify-content-center">
        <ion-button (click)="create()" expand="block" class="btn-confirm">
          Atualizar perfil
        </ion-button>
      </ion-row>

  </div>
</ion-content>
